html{
    height:100%;
}
body {
    padding-top: 0;
    padding-bottom: 0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    height: 100%;
    position:relative;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body>img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:0;
}
nav,footer{
    flex: 0 0 auto;
    height: 25px;
    z-index:2;
}
nav{
    color:whitesmoke;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}
nav>div{
    flex: 0 0 auto;
    display:block; 
    margin: 0 20px; 
      
}
.shadow {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    background-color: #000000;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 8pt;
    padding: 0 10px;
}
footer p {
    display: block;
    margin: 0;
    padding: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    flex: 1 0 auto;
    padding-left: 0;
    padding-right: 0;
    z-index:2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/*Login form */
.loginForm {
    border: solid 1px white;
    padding: 20px;
}
/*Login form END*/

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
@media screen and (max-width: 360px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
