@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="shadow"></div>
<img alt="" src="/Content/img/backgrounds/kuznica-molot-nakovalnya-1920.jpg"/>


<div class="loginFormWrapper">
    <div class="moitext">
        <h1>ЯМастер</h1>
        <h3>Клуб талантливых и предприимчивых льдей.</h3>
        <h3>Сотни товаров и услуг мастера своего дела предлаганют каждый день.</h3>
        <h2>Смотри, Выбирай, Предлагай</h2>        
    </div>
    <div class="loginForm">
        <h3>Вход</h3>
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(model => model.Email, new {placeholder = "E-mail"})
            @Html.PasswordFor(model => model.Password, new {placeholder = "Пароль"})
            <div class="formButtonBlock">
                <button type="button">Войти</button>
                <button type="button">Регистрация</button>
            </div>
        }
        <p>или используйте свой аккаунт</p>
        <div class="socBlock">
            <a href="#"><img alt="" src="/Content/img/soclogos/f64.png"/></a>
            <a href="#"><img alt="" src="/Content/img/soclogos/g64.png"/></a>
            <a href="#"><img alt="" src="/Content/img/soclogos/v64.png"/></a>
            <a href="#"><img alt="" src="/Content/img/soclogos/o.png"/></a>
            <a href="#"><img alt="" src="/Content/img/soclogos/i64.png"/></a>
            <a href="#"><img alt="" src="/Content/img/soclogos/t64.png"/></a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}