@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="shadow"></div>
<img alt="" src="/Content/img/backgrounds/kuznica-molot-nakovalnya-1920.jpg" />

<div class="registerCarouselWrapper" id="wizard">
    <div class="carouselBlock">
        <div class="columnFlexCenter wizardItem" data-bind="if:currentStep()==1">
            <h1>ПРИВЕТ</h1>
            <h3>давай знакомиться</h3>
            <h2> * * * * *</h2>
            <div class="rowFlex">
                <div class="inputItem">
                    <h2>Как к тебе обращаться?</h2>
               @*     <p>Укажи имя/ник/фио как удобно. <br />Главное помни, что людям приятно иметь дело с людьми чьи имена вроде "Галина" или "Владимир Владимирович", нежели "sAtAn666mega_sex"</p>*@
                    <input data-bind="value:user.userName" />
                </div>
                <div class="inputItem">
                    <h2>Как к тебе обращаться?</h2>
               @*     <p>Укажи имя/ник/фио как удобно. <br />Главное помни, что людям приятно иметь дело с людьми чьи имена вроде "Галина" или "Владимир Владимирович", нежели "sAtAn666mega_sex"</p>*@
                    <input data-bind="value:user.userName"/>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>

            </div>
        </div>

        <div class="columnFlexCenter wizardItem" data-bind="if:currentStep()==2">
            <h1>РАССКАЖИ О СЕБЕ</h1>
            <h3>ты кто по жизни =)</h3>
        </div>

        <div class="columnFlexCenter wizardItem" data-bind="if:currentStep()==3">
            <p>Third step</p>
        </div>

        <div class="rowFlex wizardControls">
            <a href="@Url.Action("Login", "Account")" data-bind="visible:isFirstStep">LOG IN</a>
            <button data-bind="click:back, visible:isFirstStep()===false">Назад</button>
            <ul class="rowFlex" data-bind="foreach: new Array(total())">
                <li data-bind="css:{curr:$index()+1===$root.currentStep()}"></li>
            </ul>
            <button data-bind="click:next, visible:isLastStep()===false">Далее</button>
            <button data-bind="click:done, visible:isLastStep">Готово</button>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/register.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
