
@{
    ViewBag.Title = "CropieTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section link
{
    @*<link rel="Stylesheet" type="text/css" href="https://t4t5.github.io/sweetalert/dist/sweetalert.css" />*@
<link href="~/Content/croppie.css" rel="stylesheet" />
}

<div id="vanilla-demo"></div>

<div class="actions">
    <button class="vanilla-result">Result</button>
    <button class="vanilla-save">Save</button>
    <button class="vanilla-rotate" data-deg="-90">Rotate Left</button>
    <button class="vanilla-rotate" data-deg="90">Rotate Right</button>
</div>


<div id="result"></div>

}
