@model Domen.Models.Member

@{
    ViewBag.Title = "Master - "+Model.PersonName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section link
{
    <link href="~/Content/Views/Member.css" rel="stylesheet" />
}
<div class="ContentWrapper">
    <div class="sideControls columnFlexCenter">
        <div class="MasterTitle">
            <h1>iMaster</h1>
            <p>Панель управления</p>
        </div>
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-2x fa-user"></i>
                    <p>Мои данные</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-2x fa-copyright"></i>
                    <p>Торговые знаки</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-2x fa-map"></i>
                    <p>Условия доставки</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-2x fa-th"></i>
                    <p>Товары / услуги</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-2x fa-shopping-basket"></i>
                    <p>Заказы</p>
                </a>
            </li>

        </ul>
    </div>
    <div class="contentBlock">
        
    </div>
</div>

@section scripts
{
    @*<script src="/Scripts/home/YaMaps.js"></script>*@
}
