@model Domen.Models.Member
<div id="@(Model.UserId+"_brand")" class="block">
    <div class="myPanel">
        <div class="myPanelHead">
            <h1>Мои торговые знаки</h1>
            <button type="button" data-colse=""><i class="fa fa-2x fa-close"></i></button>
        </div>
        <div class="myPanelBody">
            WOW
        </div>
    </div>
</div>
