@model Domen.Models.Member

<div id="@(Model.UserId+"_brand")">
    <div class="myPanel">
        <div class="myPanelHead">
            <h2>Торговые знаки</h2>
            <div class="headIcons">
                <a data-info="_brand"><i class="fa fa-2x fa-question"></i></a>
                <button type="button" data-close="" name="@(Model.UserId+"_brand")"><i class="fa fa-2x fa-close"></i></button>                
            </div>
        </div>
        <div class="myPanelBody">
            <div class="blockInfo" data-info-toggle="_brand" style="display: none">
                <article>
                    <i class="fa fa-2x fa-exclamation"></i>
                    В этом блоке, вы можете добавить торговые марки, название вашей компании, имена брендов. 
                    Это актуально для франшиз. Так же, указывая торговую марку, все фото товаров будут помечены эмблемой торгового знака.
                </article>
            </div>
            <div class="myPhotoAndDescr">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
