.ContentWrapper {
    width: 100%;
    min-height: 1300px;
    position: relative;
}
.sideControls {
    position: absolute;
    top: 0;
    width: 200px;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    color: white;
}
.sideControls div {
    width: 100%;
}
.MasterTitle {
    text-align: center;
    padding: 10px 0;
    border-bottom: dotted 1px white;
}
.MasterTitle h1 {
    font-size: 18pt;
    font-weight: 900;
}
.sideControls ul {
    width: 100%;
}
.sideControls ul li a {
    display: flex;
    padding: 3px 10px;
    align-items: center;
}
ul li {
    display: block;
    margin: 7px 0;
}
li a p {
    display: block;
    padding: 0 10px;
}
/*MEMBER */
.contentBlock {
    margin-left: 200px;
    padding: 10px;   
}

.contentData {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.contentData>div {
    margin-right: 20px;
}
/*MEMBER END*/
/*Panel view*/
.myPanel {
    border: solid 2px purple;
    min-height: 50px;
    display: flex;
    flex-flow: column;
    max-width: 970px;
    position: relative;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.myPanelHead {
    background-color: purple;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headIcons {
    flex: 0 0 auto;
    margin-left: 20px;
    display: flex;
}
.headIcons i {
    margin: 0 10px;
}
.myPanelHead h2 {
    font-size: 14pt;
}
.myPanelBody {
    flex: 1 0 auto;
    min-height: 50px;
    background-color: snow;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: darkslateblue
}
.myPanelBody article {
    max-width: 400px;
    padding: 5px;
}
.myPanelBody article:first-letter {
    margin-left: 20px;
}
.myPhoto {
    flex: 0 0 auto;
}
.myPersonal {
    flex: 1 0 auto;
    color: darkslateblue;
    margin: 20px;
    text-align: right;
}
.myPersonal h1 {
    font-size: 16pt;
}
.myPhotoAndDescr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
}
.emptyPhotoContainer {
    width: 250px;
    height: 300px;
    margin: 20px;
    border: solid 5px gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.emptyPhotoContainer>div {
    border: solid 1px gray;
    width: 100%;
}
.topPhotoBlock {
    flex: 0 0 auto;
    height: 30px;
}
.emptyPhotoDescr {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.photoControls {
    flex: 0 0 auto;
    height: 30px;
    color: gray;
}
.photoControls label {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}
.photoControls input {
    display: none;
}
.photoControls label button {
    display: none;
}
.drNdropfilehere {
    width: 100px;
    height: 100px;
    background: lightgrey;
    border-radius: 50%;
}
.myPersonal a p {
    display: inline;
}
.myPersonal a span {
    padding: 5px;
}
/*Panel view END*/