@using Microsoft.AspNet.Identity.Owin;
 
@if (User.Identity.IsAuthenticated)
{
    <header>
        <ul>
            @Html.Action("UserProfile","Member")
            <li>2</li>
            <li>3</li>
        </ul>
        <h2></h2>
        <h2>
            @Html.ActionLink("Выход", "LogOff", "Account")
        </h2>
    </header>
}