<div class="avatarBlock">
    <h3>Загрузка портрета</h3>
    <div class="avatarControls">
        <div class="uploadImage">
            <div class="uploadMessage">
                <p>Загрузите фото для обработки</p>
            </div>
            <div class="cropTest">
                <div class="uploadCropWrapper">
                    <div id="uploadBlock"></div>
                </div>
            </div>

            <div class="uploadButtonsRow">
                <a class="btnSuccess upl-file">
                    <span>Загрузить</span>
                    <input type="file" value="Choose a file" id="upload" accept="image/*"/>
                </a>
                <a class="btnSuccess" id="uploadResult">Сохранить</a>
            </div>
        </div>
    </div>
    <form id="svAva" style="display: none">
        @Html.AntiForgeryToken()
        <input type="hidden" id="avaContainer" name="avatar"/>
    </form>
</div>