* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}
h1,h2,h3,h4,h4,h6,p,address {
    display: block;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a,button, button:focus, button:active {
    color: inherit;
    outline: 0 none;
    border: none;
    background: transparent;
    display: block;
    margin: 0;
    padding: 0;
}
a:hover, a:active, a:link {
    color: inherit;
    text-decoration: none;
}
img {
    width: 100%;
}
body {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    z-index: 0;
    position: relative;
    font-style: italic;
}
.insetshadow {
    color: #202020;
    -ms-text-shadow: 
               -1px -1px 1px gray, 
               1px 1px 1px darkgray;
    text-shadow: 
      -1px -1px 1px gray, 
      1px 1px 1px darkgray;
    color: whitesmoke;
}
.columnFlexCenter {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.rowFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
}
.hit-the-floor {
    color: #fff;
font-size: 1em;
font-weight: bold;
font-family: Helvetica;
    -ms-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.shadow {
    position: absolute;
    z-index: 2;
    top: 0;bottom: 0;left: 0;right: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .7);
    background: url("/Content/img/backgrounds/hexagon.png") repeat top left;
    -ms-background-size: 400px;
    background-size: 400px;
}
.body-content>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
header,footer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14pt;
    padding: 0 10px;
    z-index: 10;
    color: whitesmoke;
}
header {
    background:linear-gradient(0, rgba(0, 153, 212, 0.6), #73c8ff)
}
header ul {
    display: flex;

}
header h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18pt;
}

footer p {
    font-size: 10pt;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    flex: 1 0 auto;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.loginFormWrapper {
    flex: 1 1 auto;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.moitext {
    color: whitesmoke;
    text-align: center;
}
.moitext h1 {
    font-size: 50pt;
    font-weight: 900;
    letter-spacing: 5px;
}
.moitext h3 {
    font-size: 20pt;
    margin: 15px 0;
}
.moitext h2 {
    margin: 0 0 50px 0;
    font-size: 50pt;
}
.loginForm {
    border: solid 2px whitesmoke;
    max-width: 350px;
    width: 100%;
    padding: 25px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .7);
}
.loginForm h3 {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}
.loginForm p {
    color: whitesmoke;
    text-align: center;
}
.formButtonBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formButtonBlock button, 
.formButtonBlock a {
    font-weight: 600;
    border: none;
    background-color: transparent;
    font-size: 20pt;
}
.socBlock > form {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
}
.socBlock form button img {
    width: 32px;
}
input {
    display: block;
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    height: 35px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    color: gray;
    font-weight: 600;
    font-style: italic;
}
